<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Testes covid</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'registro/css/bootstrap.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'registro/styles.css' %}" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body class="body" style="background-color:#fff">
		<div class="container-fluid" style="background-color:#343a40;padding:20px !important">
			<div class="row justify-content-center" style="padding:10px">
				<h1 style="color:white">Testes Covid</h1>
			</div>
		</div>
</body>
</html>
