{% include "registro/header.html" %}
{% block home %}
	<div class="container" style="padding:50px">
		{% for register in register_list %}
		<form action="" method="get">
				<div class="flex-row">
				<p>{{ register.name }} {{ register.birthdate}} {{register.testtype}} {{register.testresult}}</p>
		</div>
		<input type="hidden" name="id" value="{{register.id}}">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Remover">
		</form>
		{% endfor %}
		<div class="row">
			<a href="/new" class="btn btn-primary">Novo registro</a>
		</div>

	</div>

{% endblock %}
